.variations-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__metadata-editor {
    padding: 1px;
    background: #EEEEEE;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
  }
  &__metadata-grid {
    margin-top: 1px;
    height: 1px;
  }
}

// button[class="MuiIconButton-root-"] { padding: 0px 12px }
// tr[class="MuiTableRow-root-"] { height: 25px !important; }

// .MuiTableCell-root {
// height: 10px !important;
// padding: 0px !important;
// font-size: 0.7rem !important;
// }

// .MuiButtonBase-root{
// height: 10px !important;
// }