.metadata {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-height: 800px;

  &__annotations {
    flex: 1;
    padding-right: 1px;
    display: flex;
    flex-direction: column;
  }

  &__annotations-content {
    width: 100%;
    background: white;
    padding: 0px 10px;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__project {
    flex: 1 1 0px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
  }

  &__project-content {
    width: 100%;
    background: white;
    padding: 0px 10px;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    padding: 0 8px;
  }

  &__markers {
    padding: 0 8px;
    width: 800px; 
    height: 600px; 
    overflow-y: auto;
  }
}


// .MuiSvgIcon-root-50 {
//   font-size: 20px !important;
// }

// .MuiIconButton-root-41 {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
// }

// .MuiTablePagination-toolbar-324 {
//     height: 24px !important;
//     min-height: 24px !important;
// }

// .MuiTableRow-root-299 {
//   height: 24px !important;
// }
